In [1]:
from neo4jrestclient.client import GraphDatabase
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import re
import matplotlib.pyplot as plt
database = 'database.sqlite'
conn = sqlite3.connect('database.sqlite')

## https://neo4j-rest-client.readthedocs.io/en/latest/

In [14]:
gdb = GraphDatabase("http://localhost:7474",username='neo4j',password='I3odIoZ3*Cm2%Pk5%ar')

In [53]:
league_country = pd.read_sql("""SELECT * FROM League as L INNER JOIN Country AS C ON L.id = C.id ;""", conn)
cols = list(league_country.columns)
league_country.columns = ['1','id','league_name','country_id','country_name']
league_country.drop(['1'],axis = 1,inplace=True)
display(league_country.head())
league_country = league_country.to_dict(orient='records')

      id             league_name  country_id country_name
0      1  Belgium Jupiler League           1      Belgium
1   1729  England Premier League        1729      England
2   4769          France Ligue 1        4769       France
3   7809   Germany 1. Bundesliga        7809      Germany
4  10257           Italy Serie A       10257        Italy

In [54]:
league_country

[{'id': 1,
  'league_name': 'Belgium Jupiler League',
  'country_id': 1,
  'country_name': 'Belgium'},
 {'id': 1729,
  'league_name': 'England Premier League',
  'country_id': 1729,
  'country_name': 'England'},
 {'id': 4769,
  'league_name': 'France Ligue 1',
  'country_id': 4769,
  'country_name': 'France'},
 {'id': 7809,
  'league_name': 'Germany 1. Bundesliga',
  'country_id': 7809,
  'country_name': 'Germany'},
 {'id': 10257,
  'league_name': 'Italy Serie A',
  'country_id': 10257,
  'country_name': 'Italy'},
 {'id': 13274,
  'league_name': 'Netherlands Eredivisie',
  'country_id': 13274,
  'country_name': 'Netherlands'},
 {'id': 15722,
  'league_name': 'Poland Ekstraklasa',
  'country_id': 15722,
  'country_name': 'Poland'},
 {'id': 17642,
  'league_name': 'Portugal Liga ZON Sagres',
  'country_id': 17642,
  'country_name': 'Portugal'},
 {'id': 19694,
  'league_name': 'Scotland Premier League',
  'country_id': 19694,
  'country_name': 'Scotland'},
 {'id': 21518,
  'league_name': 'Spain LIGA BBVA',
  'country_id': 21518,
  'country_name': 'Spain'},
 {'id': 24558,
  'league_name': 'Switzerland Super League',
  'country_id': 24558,
  'country_name': 'Switzerland'}]

In [ ]:
for node in league_country:
    gdb.nodes.create(league_name = node['league_name'], 
                     country_id = node['country_id'],
                     country_name = node['country_name'])

In [43]:
team = pd.read_sql("""SELECT * FROM Team AS T INNER JOIN Team_Attributes AS TA ON T.team_api_id = TA.team_api_id;""", conn)
cols = list(team.columns.values)
team.columns = ['1','2','3'] + cols[3:]
team.drop(['1','2','3','id'],axis = 1,inplace=True)
team.head()

,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,FC Aarau,AAR,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,FC Aarau,AAR,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,FC Aarau,AAR,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,Aberdeen,ABE,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,Aberdeen,ABE,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [56]:
team.columns

Index(['team_long_name', 'team_short_name', 'id', 'team_fifa_api_id',
       'team_api_id', 'date', 'buildUpPlaySpeed', 'buildUpPlaySpeedClass',
       'buildUpPlayDribbling', 'buildUpPlayDribblingClass',
       'buildUpPlayPassing', 'buildUpPlayPassingClass',
       'buildUpPlayPositioningClass', 'chanceCreationPassing',
       'chanceCreationPassingClass', 'chanceCreationCrossing',
       'chanceCreationCrossingClass', 'chanceCreationShooting',
       'chanceCreationShootingClass', 'chanceCreationPositioningClass',
       'defencePressure', 'defencePressureClass', 'defenceAggression',
       'defenceAggressionClass', 'defenceTeamWidth', 'defenceTeamWidthClass',
       'defenceDefenderLineClass'],
      dtype='object')

In [ ]:
for node in team:
    gdb.nodes.create(league_name = node['league_name'], 
                     country_id = node['country_id'],
                     country_name = node['country_name'])

In [44]:
player_attributes = pd.read_sql("""SELECT * FROM Player as P INNER JOIN Player_Attributes AS PA ON P.player_api_id = PA.player_api_id ;""", conn)
cols = list(player_attributes.columns)
player_attributes.columns = ['1','2','player_name','4'] + cols[4:]
player_attributes.drop(['1','2','4'],axis = 1,inplace=True)
player_attributes.head()

,player_name,birthday,height,weight,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [15]:
for node in player:
    gdb.nodes.create(name = node['player_name'], 
                     api_id = node['player_api_id'],
                     fifa_id = node['player_fifa_api_id'],
                     birthday = node['birthday'],
                     height = node['height'],
                     weight = node['weight'])

KeyboardInterrupt:

In [4]:
alice = gdb.nodes.create(name="Alice", age=30)
bob = gdb.nodes.create(name="Bob", age=30)
alice.relationships.create("Knows", bob, since=1980)