In [1]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import re
import matplotlib.pyplot as plt
database = 'database.sqlite'
conn = sqlite3.connect('database.sqlite')

In [3]:
def get_keys(string):
    string_key_pairs = list()
    string = string.split('\n\t')
    string = [re.search('(?!\`)\w+(?=\`)',value).group(0) for value in string if 'PRIMARY KEY' in value]
    if len(string):
        return string[0]
    return string

def get_table(table):
    query = "SELECT * FROM " + table + ";"
    data = pd.read_sql(query,conn)
    return data

def total_entries_and_fields(table):
    query = "SELECT * FROM " + table + ";"
    data = pd.read_sql(query,conn)
    return len(data),len(data.columns.values)

In [4]:
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables['primary_key'] = tables.sql.apply(lambda x: get_keys(x))
tables['total'] = tables.name.apply(lambda x: total_entries_and_fields(x))
tables['total_entries'] = tables.total.apply(lambda x: x[0])
tables['total_fields'] = tables.total.apply(lambda x: x[1])
tables = tables.drop(['type','tbl_name','rootpage','sql','total'],axis = 1)

In [5]:
tables

                name primary_key  total_entries  total_fields
0    sqlite_sequence          []              7             2
1  Player_Attributes          id         183978            42
2             Player          id          11060             7
3              Match          id          25979           115
4             League          id             11             3
5            Country          id             11             2
6               Team          id            299             5
7    Team_Attributes          id           1458            25

# sqlite_sequence

In [17]:
pd.read_sql("""SELECT * FROM sqlite_sequence;""", conn)

                name     seq
0               Team  103916
1            Country   51958
2             League   51958
3              Match   51958
4             Player   11075
5  Player_Attributes  183978
6    Team_Attributes    1458

In [35]:
pd.read_sql("""SELECT * FROM Player_Attributes;""", conn).columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [19]:
pd.read_sql("""SELECT * FROM Player;""", conn)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
5,6,27316,Aaron Hunt,158138,1986-09-04 00:00:00,182.88,161
6,7,564793,Aaron Kuhl,221280,1996-01-30 00:00:00,172.72,146
7,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139
8,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181
9,10,101042,Aaron Meijers,188621,1987-10-28 00:00:00,175.26,170
10,11,23889,Aaron Mokoena,47189,1980-11-25 00:00:00,182.88,181
11,12,231592,Aaron Mooy,194958,1990-09-15 00:00:00,175.26,150
12,13,163222,Aaron Muirhead,213568,1990-08-30 00:00:00,187.96,168
13,14,40719,Aaron Niguez,183853,1989-04-26 00:00:00,170.18,143
14,15,75489,Aaron Ramsey,186561,1990-12-26 00:00:00,177.80,154
15,16,597948,Aaron Splaine,226014,1996-10-13 00:00:00,172.72,163
16,17,161644,Aaron Taylor-Sinclair,213569,1991-04-08 00:00:00,182.88,176
17,18,23499,Aaron Wilbraham,2335,1979-10-21 00:00:00,190.50,159
18,19,120919,Aatif Chahechouhe,187939,1986-07-02 00:00:00,175.26,150
19,20,46447,Abasse Ba,156626,1976-07-12 00:00:00,187.96,185
20,21,167027,Abdelaziz Barrada,192274,1989-06-19 00:00:00,177.80,161
21,22,245653,Abdelfettah Boukhriss,202425,1986-10-22 00:00:00,185.42,161
22,23,128456,Abdelhamid El Kaoutari,188145,1990-03-17 00:00:00,180.34,161
23,24,42664,Abdelkader Ghezzal,178063,1984-12-05 00:00:00,182.88,172
24,25,425950,Abdellah Zoubir,212934,1991-12-05 00:00:00,180.34,161
25,26,38423,Abdelmajid Oulmers,52782,1978-09-12 00:00:00,172.72,143
26,27,3264,Abdelmalek Cherrad,51868,1981-01-14 00:00:00,185.42,165
27,28,467485,Abdelmalek El Hasnaoui,209399,1994-02-09 00:00:00,180.34,159
28,29,306735,Abdelouahed Chakhsi,210504,1986-10-01 00:00:00,182.88,170
29,30,41659,Abderrazak Jadid,149241,1983-06-01 00:00:00,177.80,157
...,...,...,...,...,...,...,...
11030,11046,244155,Zezinho,212639,1992-09-23 00:00:00,175.26,161
11031,11047,19696,Zhi Zheng,158293,1980-08-20 00:00:00,180.34,165
11032,11048,290868,Zhi-Gin Lam,206209,1991-06-04 00:00:00,175.26,146
11033,11049,169594,Zie Diabate,207780,1989-03-02 00:00:00,177.80,143
11034,11050,244953,Ziggy Gordon,223263,1993-04-23 00:00:00,180.34,170
11035,11051,200607,Ziguy Badibanga,195862,1991-11-26 00:00:00,172.72,154
11036,11052,642618,Zinedine Machach,228821,1996-01-05 00:00:00,185.42,163
11037,11053,277772,Zinho Gano,204227,1993-10-13 00:00:00,198.12,205
11038,11054,246332,Ziri Hammar,202751,1992-07-25 00:00:00,180.34,163
11039,11055,532766,Zizo,222537,1996-01-10 00:00:00,175.26,148
11040,11056,27305,Zlatan Bajramovic,31667,1979-08-12 00:00:00,182.88,174
11041,11057,35724,Zlatan Ibrahimovic,41236,1981-10-03 00:00:00,195.58,209
11042,11058,12574,Zlatan Ljubijankic,176103,1983-12-15 00:00:00,185.42,176
11043,11059,39494,Zlatko Dedic,141111,1984-10-05 00:00:00,182.88,170
11044,11060,17233,Zlatko Janjic,188405,1986-05-07 00:00:00,187.96,183
11045,11061,42860,Zlatko Junuzovic,173474,1987-09-26 00:00:00,172.72,152
11046,11062,37128,Zola Matumona,158142,1981-11-26 00:00:00,165.10,143
11047,11063,24737,Zoltan Gera,137089,1979-04-22 00:00:00,182.88,165
11048,11064,107281,Zoltan Stieber,179712,1988-10-16 00:00:00,175.26,148
11049,11065,39801,Zoltan Szelesi,157283,1981-11-22 00:00:00,182.88,176
11050,11066,491794,Zoran Josipovic,219943,1995-08-25 00:00:00,187.96,165
11051,11067,56929,Zoran Rendulic,188593,1984-05-22 00:00:00,190.50,179
11052,11068,99031,Zoran Tosic,105454,1987-04-28 00:00:00,170.18,157
11053,11069,192132,Zouhaier Dhaouadhi,195840,1988-01-01 00:00:00,180.34,159
11054,11070,282473,Zouhair Feddal,205705,1989-01-01 00:00:00,190.50,172
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [34]:
list(pd.read_sql("""SELECT * FROM Match;""", conn).columns)

['id',
 'country_id',
 'league_id',
 'season',
 'stage',
 'date',
 'match_api_id',
 'home_team_api_id',
 'away_team_api_id',
 'home_team_goal',
 'away_team_goal',
 'home_player_X1',
 'home_player_X2',
 'home_player_X3',
 'home_player_X4',
 'home_player_X5',
 'home_player_X6',
 'home_player_X7',
 'home_player_X8',
 'home_player_X9',
 'home_player_X10',
 'home_player_X11',
 'away_player_X1',
 'away_player_X2',
 'away_player_X3',
 'away_player_X4',
 'away_player_X5',
 'away_player_X6',
 'away_player_X7',
 'away_player_X8',
 'away_player_X9',
 'away_player_X10',
 'away_player_X11',
 'home_player_Y1',
 'home_player_Y2',
 'home_player_Y3',
 'home_player_Y4',
 'home_player_Y5',
 'home_player_Y6',
 'home_player_Y7',
 'home_player_Y8',
 'home_player_Y9',
 'home_player_Y10',
 'home_player_Y11',
 'away_player_Y1',
 'away_player_Y2',
 'away_player_Y3',
 'away_player_Y4',
 'away_player_Y5',
 'away_player_Y6',
 'away_player_Y7',
 'away_player_Y8',
 'away_player_Y9',
 'away_player_Y10',
 'away_player_Y11',
 'home_player_1',
 'home_player_2',
 'home_player_3',
 'home_player_4',
 'home_player_5',
 'home_player_6',
 'home_player_7',
 'home_player_8',
 'home_player_9',
 'home_player_10',
 'home_player_11',
 'away_player_1',
 'away_player_2',
 'away_player_3',
 'away_player_4',
 'away_player_5',
 'away_player_6',
 'away_player_7',
 'away_player_8',
 'away_player_9',
 'away_player_10',
 'away_player_11',
 'goal',
 'shoton',
 'shotoff',
 'foulcommit',
 'card',
 'cross',
 'corner',
 'possession',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'SJH',
 'SJD',
 'SJA',
 'VCH',
 'VCD',
 'VCA',
 'GBH',
 'GBD',
 'GBA',
 'BSH',
 'BSD',
 'BSA']

In [21]:
pd.read_sql("""SELECT * FROM League;""", conn)

       id  country_id                      name
0       1           1    Belgium Jupiler League
1    1729        1729    England Premier League
2    4769        4769            France Ligue 1
3    7809        7809     Germany 1. Bundesliga
4   10257       10257             Italy Serie A
5   13274       13274    Netherlands Eredivisie
6   15722       15722        Poland Ekstraklasa
7   17642       17642  Portugal Liga ZON Sagres
8   19694       19694   Scotland Premier League
9   21518       21518           Spain LIGA BBVA
10  24558       24558  Switzerland Super League

In [22]:
pd.read_sql("""SELECT * FROM Country;""", conn)

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [23]:
pd.read_sql("""SELECT * FROM Team;""", conn)

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,1,9987,673.0,KRC Genk,GEN
1,2,9993,675.0,Beerschot AC,BAC
2,3,10000,15005.0,SV Zulte-Waregem,ZUL
3,4,9994,2007.0,Sporting Lokeren,LOK
4,5,9984,1750.0,KSV Cercle Brugge,CEB
5,6,8635,229.0,RSC Anderlecht,AND
6,7,9991,674.0,KAA Gent,GEN
7,8,9998,1747.0,RAEC Mons,MON
8,9,7947,NaN,FCV Dender EH,DEN
9,10,9985,232.0,Standard de LiÃ¨ge,STL
10,11,8203,110724.0,KV Mechelen,MEC
11,12,8342,231.0,Club Brugge KV,CLB
12,13,9999,546.0,KSV Roeselare,ROS
13,14,8571,100081.0,KV Kortrijk,KOR
14,15,4049,NaN,Tubize,TUB
15,16,9996,111560.0,Royal Excel Mouscron,MOU
16,17,10001,681.0,KVC Westerlo,WES
17,18,9986,670.0,Sporting Charleroi,CHA
18,614,9997,680.0,Sint-Truidense VV,STT
19,1034,9989,239.0,Lierse SK,LIE
20,1042,6351,2013.0,KAS Eupen,EUP
21,1513,1773,100087.0,Oud-Heverlee Leuven,O-H
22,2004,8475,110913.0,Waasland-Beveren,WAA
23,2476,8573,682.0,KV Oostende,OOS
24,2510,274581,111560.0,Royal Excel Mouscron,MOP
25,3457,10260,11.0,Manchester United,MUN
26,3458,10261,13.0,Newcastle United,NEW
27,3459,9825,1.0,Arsenal,ARS
28,3460,8659,109.0,West Bromwich Albion,WBA
29,3461,8472,106.0,Sunderland,SUN
...,...,...,...,...,...
269,43053,9906,240.0,AtlÃ©tico Madrid,AMA
270,43054,9864,573.0,MÃ¡laga CF,MAL
271,43800,9868,1742.0,Xerez Club Deportivo,XER
272,43803,8394,244.0,Real Zaragoza,ZAR
273,43804,9867,260.0,CD Tenerife,TEN
274,44557,10278,100879.0,HÃ©rcules Club de FÃºtbol,HER
275,44565,8581,1853.0,Levante UD,LEV
276,44569,8560,457.0,Real Sociedad,SOC
277,45330,7878,110832.0,Granada CF,GRA
278,45333,8370,480.0,Rayo Vallecano,RAY
279,46087,9910,450.0,RC Celta de Vigo,CEL
280,46848,10268,468.0,Elche CF,ELC
281,47605,8372,467.0,SD Eibar,EIB
282,47612,7869,1867.0,CÃ³rdoba CF,COR
283,48358,8306,472.0,UD Las Palmas,LAS
284,49115,9956,322.0,Grasshopper Club ZÃ¼rich,GRA
285,49116,6493,1714.0,AC Bellinzona,BEL
286,49117,10192,900.0,BSC Young Boys,YB
287,49118,9931,896.0,FC Basel,BAS
288,49119,9930,434.0,FC Aarau,AAR
289,49120,10179,110770.0,FC Sion,SIO
290,49121,10199,897.0,FC Luzern,LUZ
291,49122,9824,286.0,FC Vaduz,VAD
292,49123,7955,435.0,NeuchÃ¢tel Xamax,XAM
293,49124,10243,894.0,FC ZÃ¼rich,ZUR
294,49479,10190,898.0,FC St. Gallen,GAL
295,49837,10191,1715.0,FC Thun,THU
296,50201,9777,324.0,Servette FC,SER
297,50204,7730,1862.0,FC Lausanne-Sports,LAU
298,51606,7896,NaN,Lugano,LUG

In [31]:
pd.read_sql("""SELECT * FROM Team_Attributes;""", conn)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
5,6,77,8485,2012-02-22 00:00:00,58,Balanced,NaN,Little,62,Mixed,...,55,Normal,Organised,40,Medium,40,Press,60,Normal,Cover
6,7,77,8485,2013-09-20 00:00:00,62,Balanced,NaN,Little,45,Mixed,...,55,Normal,Organised,42,Medium,42,Press,60,Normal,Cover
7,8,77,8485,2014-09-19 00:00:00,58,Balanced,64.0,Normal,62,Mixed,...,57,Normal,Organised,41,Medium,42,Press,60,Normal,Cover
8,9,77,8485,2015-09-10 00:00:00,59,Balanced,64.0,Normal,53,Mixed,...,63,Normal,Free Form,49,Medium,45,Press,63,Normal,Cover
9,10,614,8576,2010-02-22 00:00:00,60,Balanced,NaN,Little,40,Mixed,...,55,Normal,Organised,30,Deep,70,Double,30,Narrow,Offside Trap
10,11,614,8576,2011-02-22 00:00:00,65,Balanced,NaN,Little,45,Mixed,...,50,Normal,Organised,45,Medium,45,Press,50,Normal,Cover
11,12,614,8576,2012-02-22 00:00:00,59,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
12,13,614,8576,2013-09-20 00:00:00,59,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
13,14,614,8576,2014-09-19 00:00:00,59,Balanced,57.0,Normal,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
14,15,614,8576,2015-09-10 00:00:00,59,Balanced,57.0,Normal,52,Mixed,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
15,16,47,8564,2010-02-22 00:00:00,45,Balanced,NaN,Little,30,Short,...,70,Lots,Free Form,30,Deep,35,Press,60,Normal,Offside Trap
16,17,47,8564,2011-02-22 00:00:00,65,Balanced,NaN,Little,50,Mixed,...,50,Normal,Free Form,50,Medium,50,Press,50,Normal,Offside Trap
17,18,47,8564,2012-02-22 00:00:00,45,Balanced,NaN,Little,50,Mixed,...,50,Normal,Free Form,45,Medium,45,Press,50,Normal,Cover
18,19,47,8564,2013-09-20 00:00:00,48,Balanced,NaN,Little,54,Mixed,...,64,Normal,Free Form,48,Medium,49,Press,53,Normal,Cover
19,20,47,8564,2014-09-19 00:00:00,48,Balanced,70.0,Lots,52,Mixed,...,75,Lots,Organised,58,Medium,57,Press,49,Normal,Cover
20,21,47,8564,2015-09-10 00:00:00,48,Balanced,70.0,Lots,52,Mixed,...,69,Lots,Organised,58,Medium,57,Press,49,Normal,Cover
21,22,1901,10215,2010-02-22 00:00:00,30,Slow,NaN,Little,30,Short,...,55,Normal,Organised,30,Deep,30,Contain,30,Narrow,Offside Trap
22,23,1901,10215,2011-02-22 00:00:00,30,Slow,NaN,Little,50,Mixed,...,55,Normal,Organised,30,Deep,45,Press,65,Normal,Cover
23,24,1901,10215,2012-02-22 00:00:00,45,Balanced,NaN,Little,44,Mixed,...,60,Normal,Organised,52,Medium,38,Press,61,Normal,Cover
24,25,1901,10215,2013-09-20 00:00:00,45,Balanced,NaN,Little,44,Mixed,...,60,Normal,Organised,52,Medium,38,Press,61,Normal,Cover
25,26,1901,10215,2014-09-19 00:00:00,52,Balanced,53.0,Normal,44,Mixed,...,60,Normal,Organised,39,Medium,38,Press,61,Normal,Cover
26,27,1901,10215,2015-09-10 00:00:00,53,Balanced,53.0,Normal,44,Mixed,...,60,Normal,Organised,39,Medium,38,Press,61,Normal,Cover
27,28,650,10217,2010-02-22 00:00:00,30,Slow,NaN,Little,35,Mixed,...,65,Normal,Organised,30,Deep,30,Contain,30,Narrow,Cover
28,29,650,10217,2011-02-22 00:00:00,53,Balanced,NaN,Little,53,Mixed,...,66,Normal,Organised,46,Medium,62,Press,65,Normal,Cover
29,30,650,10217,2012-02-22 00:00:00,38,Balanced,NaN,Little,44,Mixed,...,44,Normal,Organised,50,Medium,58,Press,62,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,1429,435,7955,2012-02-22 00:00:00,49,Balanced,NaN,Little,50,Mixed,...,34,Normal,Organised,34,Medium,31,Contain,51,Normal,Cover
1429,1430,1742,9868,2010-02-22 00:00:00,30,Slow,NaN,Little,30,Short,...,70,Lots,Organised,45,Medium,50,Press,45,Normal,Cover
1430,1431,1742,9868,2011-02-22 00:00:00,40,Balanced,NaN,Little,58,Mixed,...,49,Normal,Organised,46,Medium,52,Press,67,Wide,Cover
1431,1432,1742,9868,2012-02-22 00:00:00,60,Balanced,NaN,Little,44,Mixed,...,41,Normal,Organised,49,Medium,54,Press,50,Normal,Cover
1432,1433,1742,9868,2013-09-20 00:00:00,60,Balanced,NaN,Little,44,Mixed,...,41,Normal,Organised,49,Medium,54,Press,50,Normal,Cover
1433,1434,900,10192,2010-02-22 00:00:00,55,Balanced,NaN,Little,55,Mixed,...,60,Normal,Organised,55,Medium,55,Press,60,Normal,Offside Trap
1434,1435,900,10192,2011-02-22 00:00:00,60,Balanced,NaN,Little,57,Mixed,...,68,Lots,Organised,48,Medium,49,Press,61,Normal,Cover
1435,1436,900,10192,2012-02-22 00:00:00,52,Balanced,NaN,Little,69,Long,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1436,1437,900,10192,2013-09-20 00:00:00,52,Balanced,NaN,Little,69,Long,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1437,1438,900,10192,2014-09-19 00:00:00,52,Balanced,56.0,Normal,64,Mixed,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1438,1439,900,10192,2015-09-10 00:00:00,52,Balanced,56.0,Normal,64,Mixed,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1439,1440,110749,8021,2010-02-22 00:00:00,55,Balanced,NaN,Little,60,Mixed,...,70,Lots,Organised,70,High,70,Double,70,Wide,Cover
1440,1441,110749,8021,2011-02-22 00:00:00,54,Balanced,NaN,Little,37,Mixed,...,37,Normal,Organised,47,Medium,58,Press,52,Normal,Cover
1441,1442,110749,8021,2012-02-22 00:00:00,33,Slow,NaN,Little,38,Mixed,...,73,Lots,Organised,58,Medium,47,Press,52,Normal,Cover
1442,1443,110749,8021,2013-09-20 00:00:00,33,Slow,NaN,Little,38,Mixed,...,48,Normal,Organised,58,Medium,47,Press,52,Normal,Cover
1443,1444,110749,8021,2014-09-19 00:00:00,33,Slow,49.0,Normal,51,Mixed,...,48,Normal,Organised,58,Medium,38,Press,52,Normal,Cover
1444,1445,244,8394,2010-02-22 00:00:00,30,Slow,NaN,Little,30,Short,...,70,Lots,Organised,40,Medium,30,Contain,45,Normal,Offside Trap
1445,1446,244,8394,2011-02-22 00:00:00,43,Balanced,NaN,Little,40,Mixed,...,42,Normal,Organised,38,Medium,40,Press,53,Normal,Cover
1446,1447,244,8394,2012-02-22 00:00:00,34,Balanced,NaN,Little,23,Short,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1447,1448,244,8394,2013-09-20 00:00:00,38,Balanced,NaN,Little,23,Short,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1448,1449,244,8394,2014-09-19 00:00:00,38,Balanced,48.0,Normal,35,Mixed,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1449,1450,244,8394,2015-09-10 00:00:00,52,Balanced,52.0,Normal,50,Mixed,...,57,Normal,Organised,48,Medium,43,Press,49,Normal,Cover
1450,1451,112512,8027,2014-09-19 00:00:00,54,Balanced,51.0,Normal,40,Mixed,...,52,Normal,Organised,44,Medium,47,Press,52,Normal,Cover
1451,1452,112512,8027,2015-09-10 00:00:00,54,Balanced,51.0,Normal,40,Mixed,...,52,Normal,Organised,44,Medium,47,Press,52,Normal,Cover
1452,1453,15005,10000,2010-02-22 00:00:00,65,Balanced,NaN,Little,60,Mixed,...,50,Normal,Organised,70,High,60,Press,70,Wide,Cover
1453,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,52,Mixed,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,51,Mixed,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover