In [96]:
import numpy as np
import pandas as pd
import sqlite3
import pickle
import re
database = 'database.sqlite'
conn = sqlite3.connect('database.sqlite')

In [97]:
def get_keys(string):
    string_key_pairs = list()
    string = string.split('\n\t')
    string = [re.search('(?!\`)\w+(?=\`)',value).group(0) for value in string if 'PRIMARY KEY' in value]
    if len(string):
        return string[0]
    return string

def get_table(table):
    query = "SELECT * FROM " + table + ";"
    data = pd.read_sql(query,conn)
    return data

def total_entries_and_fields(table):
    query = "SELECT * FROM " + table + ";"
    data = pd.read_sql(query,conn)
    return len(data),len(data.columns.values)

In [98]:
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables['primary_key'] = tables.sql.apply(lambda x: get_keys(x))
tables['total'] = tables.name.apply(lambda x: total_entries_and_fields(x))
tables['total_entries'] = tables.total.apply(lambda x: x[0])
tables['total_fields'] = tables.total.apply(lambda x: x[1])
tables = tables.drop(['type','tbl_name','rootpage','sql','total'],axis = 1)

In [99]:
tables

                name primary_key  total_entries  total_fields
0    sqlite_sequence          []              7             2
1  Player_Attributes          id         183978            42
2             Player          id          11060             7
3              Match          id          25979           115
4             League          id             11             3
5            Country          id             11             2
6               Team          id            299             5
7    Team_Attributes          id           1458            25

# sqlite_sequence

In [110]:
sequence = pd.read_sql("""SELECT * FROM sqlite_sequence;""", conn)
sequence

                name     seq
0               Team  103916
1            Country   51958
2             League   51958
3              Match   51958
4             Player   11075
5  Player_Attributes  183978
6    Team_Attributes    1458

In [111]:
player = pd.read_sql("""SELECT * FROM Player;""", conn)
player.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [112]:
player_attributes = pd.read_sql("""SELECT * FROM Player_Attributes;""", conn)
player_attributes.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [113]:
team = pd.read_sql("""SELECT * FROM Team;""", conn)
team.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [114]:
team_attributes = pd.read_sql("""SELECT * FROM Team_Attributes;""", conn)
team_attributes.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [115]:
league = pd.read_sql("""SELECT * FROM League;""", conn)
league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [116]:
country = pd.read_sql("""SELECT * FROM Country;""", conn)
country.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [117]:
match = pd.read_sql("""SELECT * FROM Match;""", conn)
match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [124]:
len(match)

25979

# Join League and Corrosponding Country

In [135]:
league_country = pd.read_sql("""SELECT * FROM League as L INNER JOIN Country AS C ON L.id = C.id ;""", conn)
cols = list(league_country.columns)
league_country.columns = ['1'] + cols[1:]
league_country.drop(['1'],axis = 1,inplace=True)
league_country

    country_id                      name     id         name
0            1    Belgium Jupiler League      1      Belgium
1         1729    England Premier League   1729      England
2         4769            France Ligue 1   4769       France
3         7809     Germany 1. Bundesliga   7809      Germany
4        10257             Italy Serie A  10257        Italy
5        13274    Netherlands Eredivisie  13274  Netherlands
6        15722        Poland Ekstraklasa  15722       Poland
7        17642  Portugal Liga ZON Sagres  17642     Portugal
8        19694   Scotland Premier League  19694     Scotland
9        21518           Spain LIGA BBVA  21518        Spain
10       24558  Switzerland Super League  24558  Switzerland

# Join Team and its attributes

In [134]:
team = pd.read_sql("""SELECT * FROM Team AS T INNER JOIN Team_Attributes AS TA ON T.team_api_id = TA.team_api_id;""", conn)
cols = list(team.columns.values)
team.columns = ['1','2','3'] + cols[3:]
team.drop(['1','2','3'],axis = 1,inplace=True)
team

,team_long_name,team_short_name,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,FC Aarau,AAR,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,FC Aarau,AAR,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,FC Aarau,AAR,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,Aberdeen,ABE,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,Aberdeen,ABE,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
5,Aberdeen,ABE,6,77,8485,2012-02-22 00:00:00,58,Balanced,NaN,Little,...,55,Normal,Organised,40,Medium,40,Press,60,Normal,Cover
6,Aberdeen,ABE,7,77,8485,2013-09-20 00:00:00,62,Balanced,NaN,Little,...,55,Normal,Organised,42,Medium,42,Press,60,Normal,Cover
7,Aberdeen,ABE,8,77,8485,2014-09-19 00:00:00,58,Balanced,64.0,Normal,...,57,Normal,Organised,41,Medium,42,Press,60,Normal,Cover
8,Aberdeen,ABE,9,77,8485,2015-09-10 00:00:00,59,Balanced,64.0,Normal,...,63,Normal,Free Form,49,Medium,45,Press,63,Normal,Cover
9,AC Ajaccio,AJA,10,614,8576,2010-02-22 00:00:00,60,Balanced,NaN,Little,...,55,Normal,Organised,30,Deep,70,Double,30,Narrow,Offside Trap
10,AC Ajaccio,AJA,11,614,8576,2011-02-22 00:00:00,65,Balanced,NaN,Little,...,50,Normal,Organised,45,Medium,45,Press,50,Normal,Cover
11,AC Ajaccio,AJA,12,614,8576,2012-02-22 00:00:00,59,Balanced,NaN,Little,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
12,AC Ajaccio,AJA,13,614,8576,2013-09-20 00:00:00,59,Balanced,NaN,Little,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
13,AC Ajaccio,AJA,14,614,8576,2014-09-19 00:00:00,59,Balanced,57.0,Normal,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
14,AC Ajaccio,AJA,15,614,8576,2015-09-10 00:00:00,59,Balanced,57.0,Normal,...,52,Normal,Organised,38,Medium,47,Press,53,Normal,Cover
15,Milan,ACM,16,47,8564,2010-02-22 00:00:00,45,Balanced,NaN,Little,...,70,Lots,Free Form,30,Deep,35,Press,60,Normal,Offside Trap
16,Milan,ACM,17,47,8564,2011-02-22 00:00:00,65,Balanced,NaN,Little,...,50,Normal,Free Form,50,Medium,50,Press,50,Normal,Offside Trap
17,Milan,ACM,18,47,8564,2012-02-22 00:00:00,45,Balanced,NaN,Little,...,50,Normal,Free Form,45,Medium,45,Press,50,Normal,Cover
18,Milan,ACM,19,47,8564,2013-09-20 00:00:00,48,Balanced,NaN,Little,...,64,Normal,Free Form,48,Medium,49,Press,53,Normal,Cover
19,Milan,ACM,20,47,8564,2014-09-19 00:00:00,48,Balanced,70.0,Lots,...,75,Lots,Organised,58,Medium,57,Press,49,Normal,Cover
20,Milan,ACM,21,47,8564,2015-09-10 00:00:00,48,Balanced,70.0,Lots,...,69,Lots,Organised,58,Medium,57,Press,49,Normal,Cover
21,Académica de Coimbra,ACA,22,1901,10215,2010-02-22 00:00:00,30,Slow,NaN,Little,...,55,Normal,Organised,30,Deep,30,Contain,30,Narrow,Offside Trap
22,Académica de Coimbra,ACA,23,1901,10215,2011-02-22 00:00:00,30,Slow,NaN,Little,...,55,Normal,Organised,30,Deep,45,Press,65,Normal,Cover
23,Académica de Coimbra,ACA,24,1901,10215,2012-02-22 00:00:00,45,Balanced,NaN,Little,...,60,Normal,Organised,52,Medium,38,Press,61,Normal,Cover
24,Académica de Coimbra,ACA,25,1901,10215,2013-09-20 00:00:00,45,Balanced,NaN,Little,...,60,Normal,Organised,52,Medium,38,Press,61,Normal,Cover
25,Académica de Coimbra,ACA,26,1901,10215,2014-09-19 00:00:00,52,Balanced,53.0,Normal,...,60,Normal,Organised,39,Medium,38,Press,61,Normal,Cover
26,Académica de Coimbra,ACA,27,1901,10215,2015-09-10 00:00:00,53,Balanced,53.0,Normal,...,60,Normal,Organised,39,Medium,38,Press,61,Normal,Cover
27,ADO Den Haag,HAA,28,650,10217,2010-02-22 00:00:00,30,Slow,NaN,Little,...,65,Normal,Organised,30,Deep,30,Contain,30,Narrow,Cover
28,ADO Den Haag,HAA,29,650,10217,2011-02-22 00:00:00,53,Balanced,NaN,Little,...,66,Normal,Organised,46,Medium,62,Press,65,Normal,Cover
29,ADO Den Haag,HAA,30,650,10217,2012-02-22 00:00:00,38,Balanced,NaN,Little,...,44,Normal,Organised,50,Medium,58,Press,62,Normal,Cover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,Neuchâtel Xamax,XAM,1429,435,7955,2012-02-22 00:00:00,49,Balanced,NaN,Little,...,34,Normal,Organised,34,Medium,31,Contain,51,Normal,Cover
1429,Xerez Club Deportivo,XER,1430,1742,9868,2010-02-22 00:00:00,30,Slow,NaN,Little,...,70,Lots,Organised,45,Medium,50,Press,45,Normal,Cover
1430,Xerez Club Deportivo,XER,1431,1742,9868,2011-02-22 00:00:00,40,Balanced,NaN,Little,...,49,Normal,Organised,46,Medium,52,Press,67,Wide,Cover
1431,Xerez Club Deportivo,XER,1432,1742,9868,2012-02-22 00:00:00,60,Balanced,NaN,Little,...,41,Normal,Organised,49,Medium,54,Press,50,Normal,Cover
1432,Xerez Club Deportivo,XER,1433,1742,9868,2013-09-20 00:00:00,60,Balanced,NaN,Little,...,41,Normal,Organised,49,Medium,54,Press,50,Normal,Cover
1433,BSC Young Boys,YB,1434,900,10192,2010-02-22 00:00:00,55,Balanced,NaN,Little,...,60,Normal,Organised,55,Medium,55,Press,60,Normal,Offside Trap
1434,BSC Young Boys,YB,1435,900,10192,2011-02-22 00:00:00,60,Balanced,NaN,Little,...,68,Lots,Organised,48,Medium,49,Press,61,Normal,Cover
1435,BSC Young Boys,YB,1436,900,10192,2012-02-22 00:00:00,52,Balanced,NaN,Little,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1436,BSC Young Boys,YB,1437,900,10192,2013-09-20 00:00:00,52,Balanced,NaN,Little,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1437,BSC Young Boys,YB,1438,900,10192,2014-09-19 00:00:00,52,Balanced,56.0,Normal,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1438,BSC Young Boys,YB,1439,900,10192,2015-09-10 00:00:00,52,Balanced,56.0,Normal,...,46,Normal,Organised,44,Medium,34,Press,50,Normal,Cover
1439,Zagłębie Lubin,ZAG,1440,110749,8021,2010-02-22 00:00:00,55,Balanced,NaN,Little,...,70,Lots,Organised,70,High,70,Double,70,Wide,Cover
1440,Zagłębie Lubin,ZAG,1441,110749,8021,2011-02-22 00:00:00,54,Balanced,NaN,Little,...,37,Normal,Organised,47,Medium,58,Press,52,Normal,Cover
1441,Zagłębie Lubin,ZAG,1442,110749,8021,2012-02-22 00:00:00,33,Slow,NaN,Little,...,73,Lots,Organised,58,Medium,47,Press,52,Normal,Cover
1442,Zagłębie Lubin,ZAG,1443,110749,8021,2013-09-20 00:00:00,33,Slow,NaN,Little,...,48,Normal,Organised,58,Medium,47,Press,52,Normal,Cover
1443,Zagłębie Lubin,ZAG,1444,110749,8021,2014-09-19 00:00:00,33,Slow,49.0,Normal,...,48,Normal,Organised,58,Medium,38,Press,52,Normal,Cover
1444,Real Zaragoza,ZAR,1445,244,8394,2010-02-22 00:00:00,30,Slow,NaN,Little,...,70,Lots,Organised,40,Medium,30,Contain,45,Normal,Offside Trap
1445,Real Zaragoza,ZAR,1446,244,8394,2011-02-22 00:00:00,43,Balanced,NaN,Little,...,42,Normal,Organised,38,Medium,40,Press,53,Normal,Cover
1446,Real Zaragoza,ZAR,1447,244,8394,2012-02-22 00:00:00,34,Balanced,NaN,Little,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1447,Real Zaragoza,ZAR,1448,244,8394,2013-09-20 00:00:00,38,Balanced,NaN,Little,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1448,Real Zaragoza,ZAR,1449,244,8394,2014-09-19 00:00:00,38,Balanced,48.0,Normal,...,57,Normal,Organised,51,Medium,46,Press,61,Normal,Cover
1449,Real Zaragoza,ZAR,1450,244,8394,2015-09-10 00:00:00,52,Balanced,52.0,Normal,...,57,Normal,Organised,48,Medium,43,Press,49,Normal,Cover
1450,Zawisza Bydgoszcz,ZAW,1451,112512,8027,2014-09-19 00:00:00,54,Balanced,51.0,Normal,...,52,Normal,Organised,44,Medium,47,Press,52,Normal,Cover
1451,Zawisza Bydgoszcz,ZAW,1452,112512,8027,2015-09-10 00:00:00,54,Balanced,51.0,Normal,...,52,Normal,Organised,44,Medium,47,Press,52,Normal,Cover
1452,SV Zulte-Waregem,ZUL,1453,15005,10000,2010-02-22 00:00:00,65,Balanced,NaN,Little,...,50,Normal,Organised,70,High,60,Press,70,Wide,Cover
1453,SV Zulte-Waregem,ZUL,1454,15005,10000,2011-02-22 00:00:00,52,Balanced,NaN,Little,...,53,Normal,Organised,46,Medium,48,Press,53,Normal,Cover
1454,SV Zulte-Waregem,ZUL,1455,15005,10000,2012-02-22 00:00:00,54,Balanced,NaN,Little,...,50,Normal,Organised,44,Medium,55,Press,53,Normal,Cover
1455,SV Zulte-Waregem,ZUL,1456,15005,10000,2013-09-20 00:00:00,54,Balanced,NaN,Little,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1456,SV Zulte-Waregem,ZUL,1457,15005,10000,2014-09-19 00:00:00,54,Balanced,42.0,Normal,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover
1457,SV Zulte-Waregem,ZUL,1458,15005,10000,2015-09-10 00:00:00,54,Balanced,42.0,Normal,...,32,Little,Organised,44,Medium,58,Press,37,Normal,Cover

# Join Table Player and Player Attributes

In [136]:
player_attributes = pd.read_sql("""SELECT * FROM Player as P INNER JOIN Player_Attributes AS PA ON P.player_api_id = PA.player_api_id ;""", conn)
cols = list(player_attributes.columns)
player_attributes.columns = ['1','2','player_name','4'] + cols[4:]
player_attributes.drop(['1','2','4'],axis = 1,inplace=True)
player_attributes

,player_name,birthday,height,weight,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
5,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,6,189615,155782,2016-04-21 00:00:00,74.0,76.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
6,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,7,189615,155782,2016-04-07 00:00:00,74.0,76.0,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
7,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,8,189615,155782,2016-01-07 00:00:00,73.0,75.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
8,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,9,189615,155782,2015-12-24 00:00:00,73.0,75.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
9,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,10,189615,155782,2015-12-17 00:00:00,73.0,75.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
10,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,11,189615,155782,2015-10-16 00:00:00,73.0,77.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
11,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,12,189615,155782,2015-09-25 00:00:00,74.0,78.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
12,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,13,189615,155782,2015-09-21 00:00:00,73.0,77.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
13,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,14,189615,155782,2015-01-09 00:00:00,71.0,75.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
14,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,15,189615,155782,2014-12-05 00:00:00,71.0,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
15,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,16,189615,155782,2014-11-07 00:00:00,71.0,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
16,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,17,189615,155782,2014-09-18 00:00:00,70.0,77.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
17,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,18,189615,155782,2014-05-02 00:00:00,70.0,79.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
18,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,19,189615,155782,2014-04-04 00:00:00,70.0,79.0,...,64.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
19,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,20,189615,155782,2014-03-14 00:00:00,70.0,79.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
20,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,21,189615,155782,2013-12-13 00:00:00,70.0,79.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
21,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,22,189615,155782,2013-11-08 00:00:00,70.0,79.0,...,61.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
22,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,23,189615,155782,2013-10-04 00:00:00,69.0,79.0,...,58.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
23,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,24,189615,155782,2013-09-20 00:00:00,69.0,79.0,...,58.0,58.0,73.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
24,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,25,189615,155782,2013-05-03 00:00:00,69.0,80.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
25,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,26,189615,155782,2013-03-22 00:00:00,69.0,80.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
26,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,27,189615,155782,2013-03-15 00:00:00,69.0,80.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
27,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,28,189615,155782,2013-02-22 00:00:00,69.0,80.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
28,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,29,189615,155782,2013-02-15 00:00:00,69.0,80.0,...,58.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
29,Aaron Cresswell,1989-12-15 00:00:00,170.18,146,30,189615,155782,2012-08-31 00:00:00,68.0,80.0,...,63.0,58.0,72.0,72.0,72.0,13.0,6.0,8.0,8.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183948,Zsolt Laczko,1986-12-18 00:00:00,182.88,176,183949,164680,111182,2012-02-22 00:00:00,68.0,76.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183949,Zsolt Laczko,1986-12-18 00:00:00,182.88,176,183950,164680,111182,2011-08-30 00:00:00,68.0,76.0,...,45.0,53.0,64.0,68.0,66.0,9.0,8.0,5.0,5.0,8.0
183950,Zsolt Laczko,1986-12-18 00:00:00,182.88,176,183951,164680,111182,2011-02-22 00:00:00,68.0,79.0,...,65.0,53.0,71.0,69.0,69.0,9.0,8.0,5.0,5.0,8.0
183951,Zsolt Laczko,1986-12-18 00:00:00,182.88,176,183952,164680,111182,2010-08-30 00:00:00,67.0,77.0,...,65.0,44.0,75.0,70.0,67.0,9.0,8.0,5.0,5.0,8.0
183952,Zsolt Laczko,1986-12-18 00:00:00,182.88,176,183953,164680,111182,2007-02-22 00:00:00,67.0,77.0,...,65.0,44.0,75.0,70.0,67.0,9.0,8.0,5.0,5.0,8.0
183953,Zsolt Low,1979-04-29 00:00:00,180.34,154,183954,111191,36491,2011-02-22 00:00:00,68.0,73.0,...,66.0,61.0,67.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
183954,Zsolt Low,1979-04-29 00:00:00,180.34,154,183955,111191,36491,2010-08-30 00:00:00,68.0,73.0,...,66.0,61.0,71.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
183955,Zsolt Low,1979-04-29 00:00:00,180.34,154,183956,111191,36491,2009-08-30 00:00:00,68.0,74.0,...,66.0,61.0,71.0,71.0,59.0,4.0,21.0,61.0,21.0,21.0
183956,Zsolt Low,1979-04-29 00:00:00,180.34,154,183957,111191,36491,2009-02-22 00:00:00,68.0,74.0,...,66.0,61.0,71.0,71.0,59.0,4.0,21.0,61.0,21.0,21.0
183957,Zsolt Low,1979-04-29 00:00:00,180.34,154,183958,111191,36491,2008-08-30 00:00:00,67.0,72.0,...,66.0,61.0,61.0,62.0,59.0,4.0,21.0,61.0,21.0,21.0
183958,Zsolt Low,1979-04-29 00:00:00,180.34,154,183959,111191,36491,2007-08-30 00:00:00,67.0,72.0,...,66.0,61.0,43.0,52.0,59.0,4.0,21.0,52.0,21.0,21.0
183959,Zsolt Low,1979-04-29 00:00:00,180.34,154,183960,111191,36491,2007-02-22 00:00:00,67.0,72.0,...,66.0,61.0,43.0,52.0,59.0,4.0,21.0,52.0,21.0,21.0
183960,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183961,47058,35506,2011-02-22 00:00:00,67.0,78.0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0
183961,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183962,47058,35506,2010-08-30 00:00:00,67.0,78.0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0
183962,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183963,47058,35506,2010-02-22 00:00:00,67.0,78.0,...,63.0,70.0,65.0,66.0,65.0,14.0,25.0,51.0,25.0,25.0
183963,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183964,47058,35506,2009-08-30 00:00:00,70.0,78.0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
183964,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183965,47058,35506,2009-02-22 00:00:00,70.0,78.0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
183965,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183966,47058,35506,2008-08-30 00:00:00,72.0,78.0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
183966,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183967,47058,35506,2007-08-30 00:00:00,75.0,78.0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
183967,Zurab Khizanishvili,1981-10-06 00:00:00,185.42,172,183968,47058,35506,2007-02-22 00:00:00,78.0,79.0,...,63.0,72.0,79.0,84.0,65.0,14.0,9.0,48.0,7.0,11.0
183968,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183969,102359,39902,2012-08-31 00:00:00,78.0,78.0,...,82.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183969,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183970,102359,39902,2012-02-22 00:00:00,81.0,81.0,...,87.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183970,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183971,102359,39902,2011-08-30 00:00:00,81.0,81.0,...,87.0,78.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183971,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183972,102359,39902,2011-02-22 00:00:00,81.0,85.0,...,87.0,73.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183972,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183973,102359,39902,2010-08-30 00:00:00,83.0,85.0,...,88.0,73.0,22.0,31.0,30.0,9.0,13.0,8.0,15.0,5.0
183973,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183974,102359,39902,2009-08-30 00:00:00,83.0,85.0,...,88.0,83.0,22.0,31.0,30.0,9.0,20.0,84.0,20.0,20.0
183974,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183975,102359,39902,2009-02-22 00:00:00,78.0,80.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183975,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183976,102359,39902,2008-08-30 00:00:00,77.0,80.0,...,88.0,70.0,32.0,31.0,30.0,9.0,20.0,73.0,20.0,20.0
183976,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183977,102359,39902,2007-08-30 00:00:00,78.0,81.0,...,88.0,53.0,28.0,32.0,30.0,9.0,20.0,73.0,20.0,20.0
183977,Zvjezdan Misimovic,1982-06-05 00:00:00,180.34,176,183978,102359,39902,2007-02-22 00:00:00,80.0,81.0,...,88.0,53.0,38.0,32.0,30.0,9.0,9.0,78.0,7.0,15.0